:root {
  --teal: #426F7B ;
  --cyan: #76CBE8 ;
  --salmon: #F8CBBC;
  --purple: #7E358B;
  --coral: #fe4040;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code, .styled {
  border-radius: 5px;
  padding: 0.5rem;
}

code {
  background: #2f2f2f;
  color: lime;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.styled {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background: var(--coral);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
