@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

:root {
  --teal: #426F7B ;
  --cyan: #76CBE8 ;
  --salmon: #F8CBBC;
  --purple: #7E358B;
  --coral: #fe4040;
  --kanit: 'Kanit', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:gold;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-size: 15rem;
  font-family: var(--kanit);
  line-height: 1rem;
}

code, .styled {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

code {
  background: #2f2f2f;
  color: #FFF;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.styled {
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  background: #FFF;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
